{% import "components/macros/survey_elements.html" as survey_elements %}

<div class="grid md:grid-cols-2 gap-6 lg:gap-8 items-center">
    <div class="flex flex-col gap-2">
        <p class="text-gray-700 font-light">{{ survey.name }}</p>
        <h1 class="text-gray-900">{{ survey.title_text }}</h1>
    </div>
    <div class="flex items-start md:justify-end gap-2">

        {{ buttons.link_button("Edit survey", "/surveys/edit/%s" % survey[0]) }}

        <form id="delete" class="" onsubmit="return confirm('Are you sure you want to delete this survey?')"
            action="/delete_survey" method="POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="id" value="{{ survey[0] }}">
            {{ buttons.form_button("Delete survey", "delete", "delete", "destructive") }}
        </form>
    </div>

</div>
<div class="grid lg:grid-cols-3 gap-6 lg:gap-8">
    <p class="text-gray-700 text-base mb-4 lg:col-span-2">{{ survey.survey_text }}</p>
    {% call survey_elements.card() %}
    <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Statistics</h5>
    <p class="text-gray-900 text-base mb-4">
    <ul>
        <li class="font-mono text-sm">Created {{ survey[2] }}</li>
        <li class="font-mono text-sm" id="updated">Last updated {{ survey[3] }}</li>
    </ul>
    {% endcall %}

</div>