{% import "components/macros/form_elements.html" as form_elements %}
<div id="modal"
    class="fixed hidden z-50 inset-0 bg-slate-900 bg-opacity-60 overflow-y-auto h-full w-full modal tansition-all backdrop-blur-sm">
    <form id="delete" action="/surveys/{{ survey.id }}/delete-survey" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="id" value="{{ survey[0] }}">
        <!-- Modal -->
        <div class="relative top-40 mx-auto shadow-xl rounded-md bg-white max-w-md">
            <!-- Modal header -->
            <div class="flex justify-between items-center bg-rose-500 text-white text-xl rounded-t-md py-2 px-4">
                <h3>Delete survey</h3>
            </div>

            <!-- Modal body -->
            <div class="w-full px-4 flex flex-col gap-2 py-2">
                <div class="max-h-48 overflow-y-scroll">
                    <p>Are you sure? Write the name of the survey here to permanently delete it.</p>
                </div>
                <div calss="px-4">{{ form_elements.text_input("confirmation-text", "Name of survey", "", true) }}</div>
            </div>

            <!-- Modal buttons -->
            <div class="py-2 px-4 bg-slate-100 flex rounded-md items-center gap-2">
                <button
                    class="bg-slate-50 m-0 hover:bg-slate-200 border-slate-200 border-2 p-4 rounded w-full h-fit text-lg text-slate-700 leading-tight focus:ring-slate-200 focus:border-slate-500 transition duration-150 ease-in-out"
                    type="button" onclick="closeModal('modal')" id="modal-cancel-button">
                    Cancel
                </button>
                <button
                    class="bg-rose-500 hover:bg-rose-700 border-rose-500 border-2 p-4 rounded w-full h-fit text-lg text-white leading-tight focus:ring-slate-200 focus:border-slate-500 transition duration-150 ease-in-out"
                    type="submit" value="{{ button_text }}" id="modal-delete-button">
                    Delete survey
                </button>
            </div>
        </div>
    </form>
</div>