{% macro survey_card(survey) %}
<div id="survey-{{survey[0]}}" style="cursor: pointer;" onclick="location.href='/surveys/{{survey[0]}}';"
    class="flex-col max-w-full bg-white p-4 gap-2 rounded-lg border border-slate-300 hover:border-slate-400 hover:shadow-sm transition">
    <h3 class="text-gray-900 leading-tight">{{survey[1]}}</h3>
    <p class="text-slate-600 font-mono text-sm font-medium">id: {{survey[0]}}</p>
    <div class="grow h-14"></div>
    <p class="text-slate-600 font-mono text-sm font-medium">Questions: {{survey[2]}}</p>
    <p class="text-slate-600 font-mono text-sm font-medium">Submissions: {{survey[3]}}</p>
</div>
{% endmacro %}