<html>
  <head>
    <title>SuperAdmin3000</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
  <body>
    <h2>You are not logged in, please login:</h2>
    <div id="g_id_onload"
      data-client_id="210669772745-35ee1vb4rv29ss1v6c6ea9gd57ies2oi.apps.googleusercontent.com"
      data-login_uri="http://localhost:5000/google_login"
      data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left">
    </div>
  </body>
</html>
