{% extends "layout.html" %}
{% block content %}
<form action="/create_survey" method="POST">
    <container class="flex flex-col gap-4">
        <h3>Create a new survey</h3>
        <p>Name of survey</p>
        <input type="text" name="name" oninvalid="alert('Must have a name');" required>
        <p>Title text</p>
        <input type="text" name="title" oninvalid="alert('Must have a title');" required>
        <p>Survey text</p>
        <input type="text" name="survey" oninvalid="alert('Must have a flavor text');" required>
        <input type="submit" value="Create Survey">
    </container>
</form>
{% endblock %}