{% extends "layout.html" %}
{% block content %}
<form action="/testdb/add_question" method="POST">
    Kysymys: <br>
    <textarea name="text" rows="3" cols="40" style="border:solid 1px black"></textarea>
    <br><br>
    Select survey for the question (in reality this should be known already): <br>
    <textarea name="surveyId" rows="1" cols="4" style="border:solid 1px black"></textarea>
    <br><br>
    <input type="submit" value="Lähetä">
</form>

<select name="surveys" id="surveys">
    {% for survey in surveys %}
    <option value="{{survey[0]}}">{{survey[0]}}: {{survey[1]}}</option>
    {% endfor %}
</select>

{% endblock %}
