<title>SuperAdmin3000</title>
<h1>Test page</h1>
<p>Welcome to SuperAdmin 3000 {{ session.username }}! :)</p>
This page should not be shown, if you are not logged in.

<h2>Test form</h2>

<form action="/testform" method="POST">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  Some data: <input type="text" name="testdata">
  <input type="submit" value="Submit">
</form>
<p><a href="/">Main page</test></p>
<form action="/logout" method="POST">
  <input type="submit" value="Logout">
</form>
