{% import "components/macros/buttons.html" as buttons %}
{% import "components/macros/form_elements.html" as form_elements %}

{% macro survey_card(survey) %}
{# Creates a clickable card containing info about the provied survey
    Args:
        survey: A survey object containing
            0: Survey id
            1: Survey title
            2: Question count
            3: Submissions count
#}
<div id="survey-{{ survey[0] }}" style="cursor: pointer;" onclick="location.href='/surveys/{{ survey[0] }}';"
    class="flex-col max-w-full bg-white p-4 gap-2 rounded-lg border border-slate-300 hover:border-slate-400 hover:shadow-sm transition">
    <h3 class="text-gray-900 leading-tight">{{survey[1]}}</h3>
    <p class="text-slate-600 font-mono text-sm font-medium">id: {{ survey[0] }}</p>
    <div class="grow h-14"></div>
    <p class="text-slate-600 font-mono text-sm font-medium">Questions: {{ survey[2] }}</p>
    <p class="text-slate-600 font-mono text-sm font-medium">Submissions: {{ survey[3] }}</p>
</div>
{% endmacro %}

{% macro card() %}
{# A reusable card element.
    Use this macro using the call block:
        {% call card() %}
        <p>I'm text inside a card</p>
        {% endcall %}
#}
<div class="flex-col max-w-full h-fit bg-white p-4 gap-2 rounded-lg border border-slate-300">
{{ caller() }}
</div>
{% endmacro %}

{% macro question_table_row(survey, question, row_num) %}
{# A table row displaying question
    Args:
        survey: The parent survey of the question
        question: The question object
        row_num: Row numebr of table
#}
<div class="table-row">
    <div class="table-cell pr-4">{{ row_num }}</div>

    <div class="table-cell pr-4">
        <div class="flex items-center">
            <div class="inline-flex" role="group">
                <a href="/surveys/{{ survey.id }}/questions/{{ question.id }}">
                    <button id="edit-question-{{ row_num }}"
                        class="bg-sky-500 hover:bg-sky-700 p-4 rounded w-full h-fit text-lg text-white leading-tight focus:ring-sky-500 focus:border-sky-700 transition duration-150 ease-in-out">
                        EDIT
                    </button>
                </a>
                <form id="delete-question-{{ row_num }}" name="delete" action="/surveys/delete/{{survey[0]}}/{{question[0]}}" method="POST" onsubmit="return confirm('Are you sure you want to delete this question?');">
                  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                  {{ form_elements.submit_button("DELETE", type="destructive") }}
                </form>

            </div>
        </div>
    </div>
    <div class="table-cell">
        <p>{{ question.text }}</p>
    </div>
    </tr>
</div>
{% endmacro %}

{% macro answer_card(survey, answer, question_id, index) %}
{# An expandable card element for displaying question answers.
    Args:
        survey: The survey object
        answer: The answer object
        question_id: Id of the question the answer is associated with
        index: The index of the loop rendering the answers (loop.index)
#}
{% call card() %}
<details id="expandable-answer-{{ index }}">
    <summary class="text-slate-600 font-medium text-lg" style="cursor: pointer">Answer {{ index }}: {{ answer[1] }}</summary>
    <div class="flex flex-col gap-2">
        <div class="flex flex-grow"></div>
        <div class="flex flex-col gap-2 w-full">
            {{ form_elements.label("answer-" ~ index, "Answer")}}
            {{ form_elements.text_area("answer-" ~ index, "Answer", "", false, answer[1]) }}
        </div>
        <div class="flex flex-col gap-2 w-full">
            {{ form_elements.label("points-" ~ index, "Points")}}
            {{ form_elements.number_input("points-" ~ index, "points-" ~ index, "Points", "", false, "-50", "50", "1",
        answer[2]) }}
        </div>      
        <div class="flex flex-grow"></div>
        {{ form_elements.submit_button("Delete answer", "destructive", "/surveys/%s/question/%s/answers/%s" % (survey.id, question_id, answer.id)) }}
    </div>
</details>
{% endcall %}
{% endmacro %}

{% macro survey_result_card(result, index, hide_delete_button=False) %}
{# An expandable card element for displaying survey results.
    Args:
        result: The survey result object
        index: The index of the loop rendering the answers (loop.index)
#}
{% call card() %}

<form action="/update_survey_result" method="POST">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <input type="hidden" name="result_id" id="result_id" value="{{ result[0] }}">
  <input type="hidden" name="survey_id" id="survey_id" value="{{ result[5] }}">  
<details id="expandable-result-{{ index }}">
    <summary class="text-slate-600 font-medium text-lg" style="cursor: pointer">Result at cutoff point {{ result[2] }}:</summary>
    <div class="flex flex-col gap-2">
        <div class="flex flex-grow"></div>
        <div class="flex flex-col gap-2 w-full">
            {{ form_elements.label("result-" ~ index, "Result")}}
            {{ form_elements.text_area("result-" ~ index, "Result", "", false, result[1]) }}
        </div>
        <div class="flex flex-col gap-2 w-full">
            {{ form_elements.label("cutoff-" ~ index, "Cutoff from max points")}}
            {{ form_elements.number_input("cutoff-" ~ index, "cutoff-" ~ index, "Cutoff from max points", "", false, "0", "1", "0.01",
        result[2]) }}
        </div>      
        <div class="flex flex-grow"></div>
        {% set button_id = "update%s" % result_id %}        
        {{ form_elements.submit_button("Update result", id=button_id) }}
        
        {% if not hide_delete_button %}
        {% set button_id = "delete%s" % result_id %}
        {{ form_elements.submit_button("Delete result", "destructive", id=button_id) }}
        {% endif %}
    </div>
</details>
</form>
{% endcall %}
{% endmacro %}
