{% extends "layout.html" %}
{% import "components/macros/form_elements.html" as form_elements %}
{% import "components/macros/survey_elements.html" as survey_elements %}
{% import "components/macros/tooltip.html" as tooltip %}
{% import "components/macros/buttons.html" as buttons %}

{% block content %}
<div class="flex justify-between">
    <h1 class="text-slate-700">Add question to {{ survey.name }}</h1>
    {{ buttons.link_button("Back", "/surveys/%s" % survey[0]) }}
</div>
<div class="flex flex-col gap-6 items-start w-full">
    <form class="w-full" action="/surveys/{{ survey.id }}/new-question" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="survey_id" id="survey_id" value="{{ survey.id }}">
        <input type="hidden" name="question_id" id="question_id" value="{{ question_id }}">
        <input type="hidden" name="edit" id="edit" value="{{ edit }}">
        <input type="hidden" name="created" id="created" value="{{ created }}">
        <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-col gap-6">
                {% call survey_elements.card() %}
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-2 w-full">
                        {{ form_elements.label("text", "Question") }}
                        {{ form_elements.text_area("text", "Question", "", false, text) }}
                    </div>
                    <div class="relative flex py-5 items-center gap-2">
                        <span class="flex-shrink text-slate-600">Category weights</span>
                        {{ tooltip.tooltip("Category weights affect how each questions points are calculated") }}
                        <div class="flex-grow border-t border-slate-200"></div>
                    </div>
                    <fieldset>
                        <div class="flex flex-row flex-wrap gap-4">
                            {% for category in categories %}
                            <div class="flex flex-col gap-2 w-24">
                                {{ form_elements.label("cat" ~ category[0], category[1])}}
                                {{ form_elements.number_input("cat" ~ category[0], "cat-" ~ category[0] ~ "-weight", category[1], "0", false, "-100", "100",
                                "0.1",
                                weights[category[1]]) }}
                            </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                    {{ form_elements.submit_button("Save changes") }}
                </div>
                {% endcall %}
                {% for answer in answers %}
                {{ survey_elements.answer_card(survey, answer, question_id, loop.index) }}
                {% endfor %}
            </div>
            {% if created %}
            <div class="flex flex-col gap-2">
                {% call survey_elements.card() %}
                <div class="flex flex-col gap-4 items-start">
                    <h3 class="text-slate-600">New answer</h3>
                    <div class="flex flex-col gap-2 w-full">
                        {{ form_elements.label("answer_text", "Answer")}}
                        {{ form_elements.text_area("answer_text", "Answer", "", false) }}
                    </div>
                    <div class="flex flex-col gap-2 w-full">
                        {{ form_elements.label("points", "Points")}}
                        {{ form_elements.number_input("points", "new-answer-points", "Points", "0", false, "-100",
                        "100",
                        "1") }}
                    </div>
                    {{ form_elements.submit_button("Add answer", "creation", "/surveys/%s/questions/%s/new-answer" %
                    (survey.id, question_id)) }}
                </div>
                {% endcall %}
            </div>
            {% endif %}

        </div>
    </form>
</div>
{% endblock %}