{% macro link_button(text, href, type = "default") %}
{# Creates a button shaped link
    Args:
        text: Text to display on button
        href: Link destination
        type: A string degining style of button, defaults to default.
            default: Default styling
            destructive: Red button
#}
{% set bg = "bg-blue-500" %}
{% set bg_hover = "bg-blue-700" %}

{% if type == "destructive" %}
{% set bg = "bg-red-500" %}
{% set bg_hover = "bg-red-700" %}
{% endif %}

<a href="{{ href }}"
    class="p-2 block rounded w-fit h-fit {{ bg }} text-sm text-white font-medium leading-tight uppercase hover:{{ bg_hover }} focus:{{ bg_hover }} focus:outline-none focus:ring-0 transition duration-150 ease-in-out">
    {{ text }}
</a>
{% endmacro %}

{% macro form_button(text, name, value, type = "default") %}
{# Creates a form button that submits
    Args:
        text: Text to display on button
        type: A string degining style of button, defaults to default.
            default: Default styling
            destructive: Red button
#}
{% set bg = "bg-blue-500" %}
{% set bg_hover = "bg-blue-700" %}

{% if type == "destructive" %}
{% set bg = "bg-red-500" %}
{% set bg_hover = "bg-red-700" %}
{% endif %}
<button
    class="{{ bg }} hover:{{ bg_hover }} p-2 block rounded w-fit h-fit text-sm text-white font-medium leading-tight uppercase focus:{{ bg_hover }} focus:ring-sky-500 focus:border-sky-500  transition duration-150 ease-in-out"
    name="{{ name }}" value="{{ value }}">
    {{ text }}
</button>
{% endmacro %}