{% extends "layout.html" %}
{% import "components/macros/form_elements.html" as form_elements %}
{% import "components/macros/survey_elements.html" as survey_elements %}
{% import "components/macros/tooltip.html" as tooltip %}
{% block content %}
<div class="grid lg:grid-cols-2 grid-cols-1 gap-4 items-start">

    <div class="flex flex-col gap-4">
        <h2>Edit an existing survey</h2>
        <p>
            Edit the needed fields. Click save when you're done!
        </p>
    </div>
    {% if survey %}
    {% call survey_elements.card() %}
    <form action="/surveys/{{ survey[0] }}/edit" method="POST">
        <div class="flex flex-col gap-4 items-start">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="survey_id" type="text" class="border" readonly="readonly"
                value="{{ survey[0] }}">
            <div class="flex flex-col gap-2 w-full">
                {{ form_elements.label("name", "Name") }}
                {{ form_elements.text_input("name", "Name", "DevOps Survey", true, survey.name) }}
            </div>
            <div class="flex flex-col gap-2 w-full">
                {{ form_elements.label("title", "Title") }}
                {{ form_elements.text_input("title", "Title", "Are you a DevOps bop or flop?", true, survey.title_text)
                }}
            </div>
            <div class="flex flex-col gap-2 w-full">
                <div class="flex flex-row gap-2 w-full">
                    {{ form_elements.label("survey", "Description")}}
                    {{ tooltip.tooltip("A flavor text for the survey") }}
                </div>
                {{ form_elements.text_area("description", "Description", "Do you know the difference between docker and
                kubernetes? Define your skills here!",
                true, survey.survey_text) }}
            </div>
            {{ form_elements.submit_button("Save survey") }}
        </div>
    </form>
    {% endcall %}
    {% else %}
    There is no survey with ID: {{ survey_id }}
    {% endif %}
</div>
{% endblock %}