{% extends "layout.html" %}
{% block content %}
<container class="flex flex-col gap-4">
  <h3>Edit survey</h3>

  {% if survey %}
  <div class="mb-6 lg:mb-0">
    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-1/5 h-full">
      <p class="text-gray-700 text-base mb-4">
        <form action="/surveys/update" method="POST">
          <label>Name</label><br>
          <input required name="name" type="text" class="border" value="{{ survey[1] }}"><br>
          <label>Title</label><br>
          <input required name="title" type="text" class="border" value="{{ survey[4] }}"><br>
          <label>Survey text</label><br>
          <input required name="description" type="text" class="border" value="{{ survey[5] }}"><br>
          <input type="hidden" name="survey_id" type="text" class="border" readonly="readonly" value="{{ survey[0] }}"><br>
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"><br>
          <button class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          onclick="return confirm('Edit this survey?')">SAVE</button><br>
        </form>
      </p>
    </div>
  </div>
  {% else %}
  There is no survey with ID: {{ survey_id }}
  {% endif %}
</container>
{% endblock %}
