{% extends "layout.html" %}
{% import "components/macros/form_elements.html" as form_elements %}
{% import "components/macros/buttons.html" as buttons %}
{% import "components/macros/survey_elements.html" as survey_elements %}
{% import "components/macros/tooltip.html" as tooltip %}
{% block content %}
<div class="grid lg:grid-cols-2 grid-cols-1 gap-4 items-start">
    <div class="flex flex-col gap-4">
        <h2>Create a new survey</h2>
        <p>
            What is the survey all about? Give it a name, title and description.
            After creating the survey you can add categories and questions.
        </p>
    </div>
    {% call survey_elements.card() %}
    <form action="/surveys/new-survey" method="POST">
        <div class="flex flex-col gap-4 items-start">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <div class="flex flex-col gap-2 w-full">
                {{ form_elements.label("name", "Name") }}
                {{ form_elements.text_input("name", "Name", "DevOps Survey", true) }}
            </div>
            <div class="flex flex-col gap-2 w-full">
                {{ form_elements.label("title", "Title") }}
                {{ form_elements.text_input("title", "Title", "Are you a DevOps bop or flop?", true) }}
            </div>
            <div class="flex flex-col gap-2 w-full">
                <div class="flex flex-row gap-2 w-full">
                    {{ form_elements.label("survey", "Description")}}
                    {{ tooltip.tooltip("A flavor text for the survey") }}
                </div>
                {{ form_elements.text_area("survey", "Description", "Do you know the difference between docker and
                kubernetes? Define your skills here!",
                true) }}
            </div>

            {{ form_elements.submit_button("Create survey") }}
        </div>
    </form>
    {% endcall %}
</div>
{% endblock %}