{% extends "layout.html" %}
{% import "components/form_elements.html" as form_elements %}
{% import "components/buttons.html" as buttons %}
{% import "components/survey_elements.html" as survey_elements %}
{% block content %}
<div class="grid grid-cols-2 gap-4 items-start">
    {% call survey_elements.card() %}
    <form action="/create_survey" method="POST">
        <div class="flex flex-col gap-4 items-start">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            {{ form_elements.text_input("name", "Name", "DevOps Survey", true) }}
            {{ form_elements.text_input("title", "Title", "Are you a DevOps bop or flop?", true) }}
            {{ form_elements.text_area("survey", "Description", "Do you know the difference between docker and kubernetes? Define your skills here!",
            true) }}
            {{ form_elements.submit_button("Create survey") }}
        </div>
    </form>
    {% endcall %}
    <div class="flex flex-col gap-4 p-4">
        <h2>Create a new survey</h2>
        <p>
            What is the survey all about? Give it a name, title and description.
            After creating the survey you can add categories and questions.
        </p>
    </div>
</div>
{% endblock %}