{% extends "layout.html" %}
{% import "components/macros/buttons.html" as buttons %}
{% import "components/macros/form_elements.html" as form_elements %}
{% import "components/macros/statistics_elements.html" as statistics_elements %}
{% import "components/macros/survey_elements.html" as survey_elements %}
{% block content %}
<div class="flex flex-col gap-4">
    <div class="flex justify-between">
        <h1 class="text-gray-900 leading-tight">{{ survey.title_text }}</h1>
        {{ buttons.link_button("Back to survey", "/surveys/%s" % survey_id) }}
    </div>
    <p class="text-slate-600 font-mono text-sm font-medium">
        {% if submissions %}
        Total submissions: {{ submissions }}
        {% else %}
        Total submissions: 0
        {% endif %}
    </p>
    <!-- FILTER -->
    <div id="answered" class="flex flex-row items-center justify-start gap-4">
        <h2>Filter</h2>
        <div class="flex-grow border-t border-slate-200"></div>
    </div>
    {% call survey_elements.card() %}
    <form class="space-y-5" action="/surveys/{{ survey_id }}/statistics/filter" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <div class="flex flex-row gap-4 items-end">
            <div class="flex flex-col gap-2 w-full">
                {{ form_elements.label("filter_start_date_label", "Start date") }}
                {{ form_elements.date_input("filter_start_date", false, filter_start_date) }}
            </div>
            <div class="flex flex-col gap-2 w-full">
                {{ form_elements.label("filter_end_date_label", "End date") }}
                {{ form_elements.date_input("filter_end_date", false, filter_end_date) }}
            </div>
            <div class="flex flex-col gap-2 w-full">
                {{ form_elements.label("filter_email_label", "E-mail") }}
                {{ form_elements.text_input("filter_email", "", "", false, filter_email) }}
            </div>
            <div class="flex flex-col gap-2 w-full">
                {{ form_elements.label("filter_group_name", "User group") }}
                <select name="filter_group_name" id="filter_group_name"
                    class="bg-white border border-slate-300 text-gray-900 text-sm rounded-lg focus:invalid:border-rose-500 focus:ring-sky-500 focus:border-sky-500 block w-full p-2 appearance-none">
                    {% for key, value in group_names.items() %}
                    {% if value == filter_group_name %}
                    <option value="{{ value }}" id="{{ key }}" selected>{{ key }}</option>
                    {% elif value != None %}
                    <!-- value == None could be used to filter-in only users, which doesn't
                       have any group. This is not yet implemented in all repositories, however
                    -->
                    <option value="{{ key }}" id="{{ key }}">{{ key }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="flex flex-row gap-4">
                <button type="submit" class="bg-sky-500 text-white rounded text-sm font-medium p-2">Filter</button>
                {% if filtered %}
                <a href="{{ '/surveys/%s/statistics' % survey_id }}"
                    class="bg-white border-slate-300 border-2 rounded text-sm font-medium p-2">Clear</a>
                {% endif %}
            </div>
        </div>
    </form>
    {% endcall %}

    <!-- CAETGORY SCORES -->
    <div class="flex flex-row items-center justify-start gap-4">
        <h2>Category scores</h2>
        <div class="flex-grow border-t border-slate-200"></div>
    </div>
    {% call survey_elements.card() %}
    <div class="bg-slate-100 rounded-lg overflow-hidden">
        <table class="table-fixed border-collapse w-full">
            {% if categories %}
            <thead class="text-left bg-slate-200">
                <tr class="">
                    <th class="p-4 border-r-2 border-slate-300 w-20">
                        Id
                    </th>
                    <th class="p-4 border-r-2 border-slate-300">
                        Category name
                    </th>
                    <th class="p-4 border-r-2 border-slate-300">
                        Average score
                    </th>
                    <th class="p-4 w-20">
                        Edit
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                {{ statistics_elements.category_row(survey_id, category, category[0])}}
                {% endfor %}
                {% else %}
                No related categories found.
                {% endif %}
            </tbody>
        </table>
    </div>
    {% endcall %}

    <!-- SURVEY RESULTS -->
    <div class="flex flex-row items-center justify-start gap-4">
        <h2>Survey results</h2>
        <div class="flex-grow border-t border-slate-200"></div>
    </div>
    <div class="grid grid-cols-2 gap-4">
        {% if not filtered and answer_distribution %}
        {% for q_name, q_id in answer_distribution %}
        {% call survey_elements.card() %}
        <div class="overflow-hidden">
            <p class="font-medium">{{ loop.index }}) {{ q_name }}</p>
            <img src="{{url_for('static', filename='/img/charts/' + q_id|string + '.png')}}"
                alt="Answer distribution chart for question {{q_name}} without filters" id="chart_{{q_id}}">
        </div>
        {% endcall %}
        {% endfor %}
        {% elif filtered and answer_distribution %}
        {% for q_name, q_id in answer_distribution %}
        <div class="base-1/2">
            {% call survey_elements.card() %}
            <div class="flex flex-row w-full justify-between">
                <p class="font-medium">{{ loop.index }}) {{ q_name }}</p>
                <button
                    class="p-2 block rounded w-fit h-fit bg-sky-500 text-sm text-white font-medium leading-tight hover:bg-sky-700 focus:bg-sky-700 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                    id="toggle_filter_chart_{{q_id}}" onclick="switchChart('chart_{{q_id}}')">Toggle filter</button>
            </div>
            <img class="block"
                src="{{url_for('static', filename='/img/charts/' + q_id|string + '_' + filter_group_name|string + '.png')}}"
                alt="Answer distribution chart for question {{q_name}} for user group {{filter_group_name}}"
                id="chart_{{q_id}}_filtered">
            <img class="hidden" src="{{url_for('static', filename='/img/charts/' + q_id|string + '.png')}}"
                alt="Answer distribution chart for question {{q_name}} without filters" id="chart_{{q_id}}_unfiltered">
            {% endcall %}
        </div>
        {% endfor %}

        {% else %}
        <h4 class="text-slate-600 font-mono text-sm font-medium">No answers yet</h4>
        {% endif %}
    </div>
</div>
{% if show_userlist %}
<div class="flex flex-row items-center justify-start gap-4">
    <h2>Users with submissions ({{ users | length }} / {{ total_users }})</h2>
    <div class="flex-grow border-t border-slate-200"></div>
</div>
{% call survey_elements.card() %}
<div class="bg-slate-100 rounded-lg overflow-hidden">
    <table class="table-fixed border-collapse w-full">
        <thead class="text-left bg-slate-200">
            <tr>
                <th class="p-4 border-r-2 border-slate-300">User</th>
                <th class="p-4 border-r-2 border-slate-300">Group</th>
                <th class="p-4">Date</th>
            </tr>
        </thead>
        <tbody class="font-mono">
            {% for user in users %}
            <tr>
                <td class="p-4 border-r-2 border-slate-300">{{ user.email }}</td>
                <td class="p-4 border-r-2 border-slate-300">
                    {% if user.group_name %}
                    {{ user.group_name }}
                    {% endif %}
                </td>
                <td class="p-4">{{ user.answer_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endcall %}
{% endif %}
{% endblock %}