{% extends "layout.html" %}
{% import "components.html" as components %}
{% block content %}



{% if survey %}



<div><br></div>


<div class="grid lg:grid-cols-2 gap-6 lg:gap-x-12">
  {{ components.survey_details(survey) }}
  {{ components.statistics(survey) }}
    
</div>
<div>
    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-4/5">
        <h2 class="py-6">Questions</h2>
        <div class="pb-6">
            {{ components.link_button("Add question", "/%s/new_question" % survey[0]) }}
            <br>
        </div>
        {% if questions %}
        <div class="table-row-group">
            {% for question in questions %}
            {{ components.question_table_row(survey, question, loop.index) }}
            <hr>
            {% endfor %}
            {% else %}
            <p>Survey has no questions 🥺</p>
            {% endif %}

        </div>
        {% else %}
        There is no survey with ID: {{ survey_id }}
        {% endif %}

        {% endblock %}
    </div>
