{% extends "layout.html" %}
{% import "components/survey_elements.html" as survey_elements %}
{% import "components/buttons.html" as buttons %}
{% block content %}

{% if survey %}
<div class="flex flex-col gap-6">
    {{ survey_elements.survey_header(survey) }}
    {% call survey_elements.card() %}
    <h2 class="py-6">Questions</h2>
    <div class="pb-6">
        {{ buttons.link_button("Add question", "/%s/new_question" % survey[0]) }}
        <br>
    </div>
    {% if questions %}
    <div class="table-row-group">
        {% for question in questions %}
        {{ survey_elements.question_table_row(survey, question, loop.index) }}
        <hr>
        {% endfor %}
        {% else %}
        <p>Survey has no questions 🥺</p>
        {% endif %}

    </div>

    {% endcall %}
</div>
{% else %}
There is no survey with ID: {{ survey_id }}
{% endif %}

{% endblock %}