{% extends "layout.html" %}
{% block content %}
<container class="flex flex-col gap-4">
    <h3>Hello {{ session.username }}! 👋</h3>
    <p>Welcome to the Super Admin 3000 experience.</p>
    <p>Test content: +++ </p>
    <h3>List of surveys</h3>
    <br>
    {{ no_surveys }}
    {% for survey in surveys %}
    <div>
    <ul>
    <li><span>Title: {{survey[1]}}</span></li>
    <br>
    <li><span>Questions: {{survey[2]}}</span></li>
    <br>
    <li><span>Submissions: {{survey[3]}}</span></li>
    <br><br>
    </ul>
    </div>
{% endfor %}
</container>
{% endblock %}