{% extends "layout.html" %}
{% import "components/survey_elements.html" as survey_elements %}
{% import "components/buttons.html" as buttons %}
{% block content %}
<container class="flex flex-col gap-4">
    <div class="flex flex-col gap-1">
        <h2>Surveys</h2>
        <div class="flex flex-row gap-2 items-end">
            <p class="text-gray-700 text-base">
                Here you can see the active surveys. Click on the survey to view
                additional
                information!
            </p>
            <div class="grow h-14"></div>
            {{ buttons.link_button("New survey", "/new_survey") }}
        </div>
    </div>

    <div class="grid lg:grid-cols-3 gird-cols-1 gap-4">
        {{ no_surveys }}
        {% for survey in surveys %}
        {{ survey_elements.survey_card(survey) }}
        {% endfor %}
    </div>

</container>
{% endblock %}