{% extends "layout.html" %}
{% import "components/macros/form_elements.html" as form_elements %}
{% import "components/macros/buttons.html" as buttons %}
{% import "components/macros/survey_elements.html" as survey_elements %}
{% block content %}
<container class="grid lg:grid-cols-2 grid-cols-1 gap-4 items-start">
    <div class="flex flex-col gap-1">
        <p>
            Add new users here!
        </p>
    </div>
    {% call survey_elements.card() %}
        <form action="/admins/new" method="POST">
            <div class="flex flex-col gap-4 items-start">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                {{ form_elements.text_input("email", "Email", "", true, "") }}
                {{ form_elements.submit_button("Add user", "default", "/admins/new") }}
            </div>
        </form>
    {% endcall %}
    </div>

    <div class="flex flex-col gap-4 items-start">
        <table class="min-w-full">
            <thead class="border-b">
                <tr>
                    <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">id</th>
                    <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Email</th>
                </tr>
            </thead>
            <tbody>
            {% for admin in admins %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{admin[0]}}</td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{admin[1]}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<br>
</container>
{% endblock %}