{% extends "layout.html" %}
{% block content %}
<container class="flex flex-col gap-4">
    <div class="flex flex-col gap-1">
        <h2>Authorized users</h2>
    </div>
    <p class="text-gray-700 text-base">
        Here you can see the authorized users and add new ones!
    </p>
    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-4/5 h-full">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
            {% for admin in admins %}
                <tr>
                    <td>{{admin[0]}}</td>
                    <td>{{admin[1]}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<br>
</container>
{% endblock %}